.slick-dots {
    /* top: 155px;   */
    /* margin-left: 0px; */
    margin-bottom: 25px;
  }

  .list {
    margin-left: 25px;
    margin-top:5px;
    list-style: square !important; /* Change bullet points to filled circles */
  }  

.member-image{
    height: 10px;
    width: auto;
}