.main-header-mobile {
  background-image: url('https://placehold.co/600x400');
  background-size: cover;
  background-position: center;
}

.main-header {
  display: none;
}

@media(min-width: 992px) {
  .main-header{
    display: block;
  }
  .main-header-mobile {
    display: none;
  }
}